@font-face {
    font-family: 'TT Commons Bold';
    src: url('../fonts/TTCommons-DemiBold.eot');
    src: url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-DemiBold.woff2') format('woff2'),
        url('../fonts/TTCommons-DemiBold.woff') format('woff'),
        url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Medium';
    src: url('../fonts/TTCommons-Medium.eot');
    src: url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Medium.woff2') format('woff2'),
        url('../fonts/TTCommons-Medium.woff') format('woff'),
        url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Regular';
    src: url('../fonts/TTCommons-Regular.eot');
    src: url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Regular.woff2') format('woff2'),
        url('../fonts/TTCommons-Regular.woff') format('woff'),
        url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

